<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEXFD5OUdqESp1Bcjx4guKdvlFXTeB0us</string>
	<key>GCM_SENDER_ID</key>
	<string>53453936657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-app-34b74</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-34b74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53453936657:ios:da0fc91f2a8aae4ff9b9b0</string>
</dict>
</plist>